* {
  font-size:14px;
  font-family:ariel, verdana, sans-serif;
  margin:0;
  padding:0;
}

#wrapper {
  display:block;
  position:relative;
  width:100%;
  height:100%;
  padding:20px 0 0 0;
  background:#000;
  text-align:center;
  font-family:Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.title {
  display:inline-block;
  position:relative;
  font-family:inherit;
  margin:0 auto 20px auto;
  line-height:.9em;
  font-size:20px;
  color:#fff;
}

.credits {
  display:inline-block;
  position:relative;
  margin: 20px 0;
  font-size:inherit;
  color:#fff;

}

#container {
  display:block;
  position:relative;
  width:1024px;
  height:600px;
  margin:auto;
  border:1px solid #fff;
}

#starfield {
  display:block;
  position:absolute;
  width:1024px;
  height:600px;
  background: #000000 url(../images/starfield.gif) 0 0 repeat;
  background-size:cover;
  zoom: 1;
  filter: alpha(opacity=40);
  opacity: 0.4;
}

#app {
  display:block;
  position:absolute;
  width:1024px;
  height:600px;
  color:#fff;
  overflow:hidden;
}

#app #ship {
  display:block;
  position:absolute;
  width:40px;
  height:40px;
  left:512px;
  background-color:#00aa00;
  bottom:0;
}

#app .bullet {
  display:block;
  position:absolute;
  bottom:40px;
  left:0;
  height:40px;
  width:4px;
  z-index:100;
  background:#00ffff;
}

#app .ball {
  display:block;
  position:absolute;
  width:100px;
  height:100px;
  moz-border-radius: 200px;
  border-radius: 200px;
  background:#aa0000;
}

#dead-msg {
  display:block;
  position:absolute;
  left:360px;
  top:20%;
  font-size:50px;
  color:#ff3333;
  display:none;
}
